@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Edu+VIC+WA+NT+Beginner&display=swap');

.h2 {
    font-family: 'Montserrat Alternates', Verdana, Geneva, Tahoma, sans-serif;
}