@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Edu+VIC+WA+NT+Beginner&display=swap');
* {
}
body {
    background-color: #A6D1E6;
    font-family: 'Montserrat Alternates', Verdana, Geneva, Tahoma, sans-serif;
}

.css-mkazzp-MuiButtonBase-root-MuiButton-root{
    font-family:'Montserrat Alternates',
        Verdana,
        Geneva,
        Tahoma,
        sans-serif;
background-color: #A6D1E6 !important;

}