@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Edu+VIC+WA+NT+Beginner&display=swap');


body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}

hr {
    max-width: 80%;
    border-width: 3px;
    border-color: #4069f0;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.bg-primary {
    background-color: #f05f40 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 3rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #212529;
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #f05f40;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #f05f40;
}

#mainNav .navbar-nav>li.nav-link,
#mainNav .navbar-nav>li.nav-link:focus {
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: #212529;
}

#mainNav .navbar-nav>li.nav-link:hover,
#mainNav .navbar-nav>li.nav-link:focus:hover {
    color: #f05f40;
}

#mainNav .navbar-nav>li.nav-link.active,
#mainNav .navbar-nav>li.nav-link:focus.active {
    color: #f05f40 !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-link:focus.active:hover {
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: #fff;
    }

    #mainNav .navbar-brand {
        color: #f05f40;
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: rgba(0, 0, 0, 0.7);
    }

    #mainNav .navbar-nav>li.nav-link {
        padding: 0.5rem 1rem;
    }

    #mainNav .navbar-nav>li.nav-link:hover,
    #mainNav .navbar-nav>li.nav-link:focus:hover {
        color: rgba(0, 0, 0, 0.7);
    }

    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #f05f40;
    }

    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #f05f40;
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-link:focus {
        color: #212529;
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-link:focus:hover {
        color: #f05f40;
    }
}

div.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
   
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

div.masthead h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

div.masthead p {
    font-weight: 300;
}

@media (min-width: 768px) {
    div.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    div.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }

    div.masthead h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    div.masthead h1 {
        font-size: 3rem;
    }
}

.service-box {
    max-width: 400px;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(240, 95, 64, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.text-primary {
    color: #f05f40 !important;
}

/* Buttons */
.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: #ee4b28 !important;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

/* Footer */
footer a {
    margin: 20pt;
}

footer i.fab {
    font-size: 2rem;
}

a.white-link {
    color: #fff;
}

/* Contact Us Form */
.form-control {
    padding: 0.664rem 1rem;
    font-size: 0.95rem;
    line-height: 1.125rem;
    color: #495057;
    border: 1px solid #becad6;
    font-weight: 300;
    border-radius: 0.375rem;
    transition: border-color 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
    margin-bottom: 30px;
}

.form-control:hover {
    border-color: #f05f40;
}

.form-control:focus {
    color: #495057;
    border-color: #f05f40;
    box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06);
}

.form-control:focus:hover {
    border-color: #007bff;
}

.form-control::-webkit-input-placeholder {
    color: #868e96;
}

.form-control:-ms-input-placeholder {
    color: #868e96;
}

.form-control::placeholder {
    color: #868e96;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f5f6f7;
}

.form-control:disabled:hover,
.form-control[readonly]:hover {
    cursor: not-allowed;
}

select.form-control:hover {
    cursor: pointer;
}

form label,
form .col-form-label,
form .col-form-legend {
    font-size: 0.95rem;
}

form label:hover {
    cursor: pointer;
}

/* Error Warning */
.error-text {
    color: red;
}

/* Portfolio */
.margin-top {
    margin-top: 50px;
}

.portfolio-box-caption-content {
    line-height: 2rem;
}

.portfolio-box-caption-content a:hover {
    color: #fff;
    text-decoration: none;
}

.portfolio-box-caption-content i.fab {
    font-size: 2rem;
}